<div class="jumbotron mt-4">
    <h1 class= "display -4"> Agencia de Viajes</h1>
    <p class ="lead">Agencia Sistemas Distribuidos</p>
    <hr class ="my -4">
    <p>Bienvenido a la nueva agencia de viajes creada para la asignatura de Sistemas Distribuidos</p>
    <a href="http://localhost:3000/" class="btn btn-primary btn-lg">Proveedores</a>

</div>